*
.body{
background:linear-gradient(90deg,darkolivegreen,rgb(214, 240, 171));
width: 100%;
min-height: 100vh;
align-items: center;
justify-content: center;
}
.container2{
    width: 80%;
    background-color: white;
    border-radius: 6px;
    padding: 30px 60px 40px 40px;
    box-shadow: 0 5px 10px rgb(0, 0, 0) ;
}
.container2 .contactus{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container2 .contactus .contactinfo{
    width: 25%;
    height: 100%;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
.contactus .contactinfo::before{
content:'';
position: absolute;
height: 70%;
width: 2px;
right: -15px;
top: 50%;
transform: translateY(-50%);
background: darkslategray;
}

.contactus .contactinfo .details{
    margin: 14px;
    text-align: center;
}
.contactus .contactinfo .details i{
    font-size: 30px;
    color: darkolivegreen;
    margin-bottom: 10px;
}
.contactus .contactinfo .details .beg{
    font-size: 18px;
    font-weight: 500;
}
.contactus .contactinfo .details.accumalaka, 
.contactus .contactinfo .details .alamak{
    font-size: 14px;
    color: darkgray;
}

.container2 .contactus .contactac{
    width: 75%;
    margin-left: 75px;
}
.contactus .contactac .contact-text{
    font-size: 23px;
    font-weight: 600;
    color: darkolivegreen;
}
.contactac .boxinfo{
    height: 50px;
    width: 100%;
    margin: 12px 0;
}
.contactac .contact-text .boxinfo input,
.contactac .contact-text .boxinfo textarea{
    height: 100%;
    width: 100%;
    border: none;
    font-size: 16px;
    background: rgb(224, 255, 230);
    border-radius: 6px;
    padding: 0 15px;
    resize: none;
}
.contactac .message{
    min-height: 110px; 
    margin-top: 6px;
}
.contactac .buttons{
    margin-top: 6px;
    display: inline-block;
}
.contactac .buttons input[type="button"]{
    color: white;
    font-size: 18px;
    outline: none;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    background: darkolivegreen;
    cursor: pointer;
    transition: all 0.3s ease;
}
.buttons input[type="button"]:hover{
    background: green;
}
@media (max-width:950px){
    .container2{
        width: 90%;
        padding: 30px 35px 40px 35px;
    }
}
@media (max-width:820px){
    .container2{
        margin: 40px 0;
        height: 100%;
    }
    .container2 .contactus{
        flex-direction: column-reverse;
    }
    .container2 .contactus .contactinfo{
        width: 100%;
        flex-direction: row;
        margin-top: 40px;
        justify-content: center;
        flex-wrap: wrap;
    }
    .container2 .contactus .contactinfo::before{
        display: none;
    }
    .container2 .contactus .contactac{
        width: 100%;
        margin-left: 0;
    }
}
